* {
  font-family: "Segoe UI", sans-serif;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}

.chart-container {
  padding: 15px;
  margin: 0 auto;
  margin-top: 30px;
  max-width: 800px;
  overflow: auto;
}

.axis path,
.axis line {
  stroke: #333;
}

.axis text {
  font-size: 11px;
  fill: black;
}

.axis-Bottom text {
  text-anchor: middle;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
  text-align: center !important;
  list-style-type: disc;
}

.react-tabs__tab--selected {
  background: #e4e4e4;
  border-color: #aaa !important;
  color: black;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.bar-chart:hover,
.pie-chart:hover {
  fill: #555;
}

.tab-btn {
  margin-left: 30px;
  display: inline-block;
  font-size: 15px;
  background-color: #4caf50;
  color: #fff;
  padding: 6px 8px;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.tab-btn:hover {
  background: #555;
  color: #fff;
}
